@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:ital,wght@1,300&family=Lato:wght@300&family=Libre+Baskerville:ital@1&display=swap');

html, body{
    /* height: 100%;
    width : 100%; */
    font-family: 'Alice', serif;
    background-image: url('w5.jpg');
}
.button{
    padding: 30px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-size: 22px;
    width: 7vw;
}

.row{
    margin: 8px 0;
}
.row input{
    font-size: 23px;
    margin: 0;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
    width: 26vw;
}


