.text-center{
    text-align: center;
    font-size: 60px;
}
.mx-auto{
    margin: auto;
}

.flex{
    display : flex;
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.Items-center{
    align-items: center;
}

